<h1>
  Bem-vindo
  <small class="text-body-secondary fst-italic"><%= current_user.nick_name %></small>
</h1>

<div class="hstack gap-3 my-5">
  <div>
    <%= link_to 'Novo lançamento', new_entry_path %>
  </div>
  <div>
    <%= link_to 'Ver lançamentos', entries_path %>
  </div>
  <div>
    <%= link_to 'Lançamentos atrasados', pending_entries_path %>
  </div>
</div>

<div class="p-4 bg-light rounded">
  <div class="row row-cols-2">
    <div class="col">
      <h3>Lançamentos atrasados</h3>
      <%= render 'entries/entries_list', entries: @pending_entries %>
    </div>
    <div class="col">
      <h3>Próximos lançamentos</h3>
      <%= render 'entries/entries_list', entries: @next_entries %>
    </div>
  </div>
</div>
