<% content_for :page_title do %>
  Dashboard
<% end %>

<% content_for :page_actions do %>
  <div class="hstack gap-3">
    <div>
      <%= link_to 'Novo lançamento', new_entry_path %>
    </div>
    <div>
      <%= link_to 'Ver lançamentos', entries_path %>
    </div>
    <div>
      <%= link_to 'Lançamentos atrasados', pending_entries_path %>
    </div>
  </div>
<% end %>

<div class="bg-light rounded">
  <%= turbo_frame_tag "dashboard_entries" do %>
    <div class="mb-3">
      <%= dashboard_entries_nav do %>
        <%= dashboard_entries_nav_link "Lançamentos atrasados", "", count: @pending_entries_count %>
        <%= dashboard_entries_nav_link "Próximos lançamentos", "next", count: @next_entries_count %>
      <% end %>
    </div>
    <%= render_dashboard_entries_list(last_entries_list_value, @entries) %>
  <% end %>
</div>
