<div class="row align-items-center ">
  <div class="col-auto px-5 text-center">
    <p class="fs-4 text-primary">
      <%= item.date.day %>
    </p>
    <span class="text-uppercase">
      <%= l(item.date, format: "%b %Y") %>
    </span>
  </div>
  <div class="col">
    <p class="fs-6">
      <% if item.billing_id.present? %>
        <i class="bi bi-clock text-primary"
          title="Lançamento com recorrência"></i>
      <% end %>
      <span class="text-primary">
        <%= item.description %>
      </span>
    </p>
    <small>
      Situação:
      <strong class="text-uppercase">
        <%= t(item.status, scope: "status") %>
      </strong>
      &bull;
      <%= link_to edit_entry_status_path(item) do %>
        <% if item.status_pending? %>
          Confirmar
        <% else %>
          Desfazer
        <% end %>
      <% end %>
    </small>
  </div>
  <div class="col-auto text-end">
    <p class="fs-4">
      <%= number_to_currency(item.value) %>
    </p>
    <small>
      <%= link_to 'Detalhar', item %> &bull;
      <%= link_to 'Editar', edit_entry_path(item) %> &bull;
      <%= link_to 'Excluir',
          item,
          class: "text-danger",
          data: {
            turbo_confirm: t("exclusion.confirm"),
            turbo_method: :delete
          } %>
    </small>
  </div>
</div>
