<div class="row align-items-center">
  <div class="col-auto px-5 text-center">
    <p class="fs-4">
      <%= item.date.day %>
    </p>
    <span class="text-uppercase">
      <%= l(item.date, format: "%b %Y") %>
    </span>
  </div>
  <div class="col position-relative">
    <p class="fs-6">
      <% if item.billing_id.present? %>
        <i class="bi bi-clock text-primary"
          title="Lançamento com recorrência"></i>
      <% end %>
      <span class="text-primary">
        <%= item.description %>
      </span>
    </p>
    <small>
      Situação:
      <strong class="text-uppercase">
        <%= t(item.status, scope: "status") %>
      </strong>
    </small>
    <%= link_to '', item, class: "stretched-link" %>
  </div>
  <div class="col-auto text-end d-flex align-items-center">
    <span class="fs-2">
      <%= number_to_currency(item.value) %>
    </span>
    <%= link_to item, class: "btn btn-lg mx-1", title: 'Detalhar' do %>
      <i class="bi bi-chevron-right"></i>
    <% end %>
    <div class="dropdown">
      <button class="btn btn-lg mx-1 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-gear"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <%= link_to 'Editar', edit_entry_path(item), class: "dropdown-item" %>
        </li>
        <li>
          <%= link_to edit_entry_status_path(item), class: "dropdown-item" do %>
            <% if item.status_pending? %>
              Confirmar pagamento
            <% else %>
              Desfazer pagamento
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to 'Excluir',
          item,
          class: "dropdown-item text-danger",
          data: {
            turbo_confirm: t("exclusion.confirm"),
            turbo_method: :delete
          } %>
        </li>
      </ul>
    </div>
  </div>
</div>
