<div class="row">
  <div class="col-auto px-5 text-center">
    <p class="fs-2">
      <%= item.date.day %>
    </p>
    <span class="text-muted text-uppercase">
      <%= l(item.date, format: "%b %Y") %>
    </span>
  </div>
  <div class="col">
    <p class="fs-2">
      <%= item.description %>
    </p>
    <small class="text-muted">
      Situação:
      <strong class="text-uppercase">
        <%= t(item.status, scope: "status") %>
      </strong>
      &bull;
      <%= link_to edit_entry_status_path(item) do %>
        <% if item.status_pending? %>
          Confirmar
        <% else %>
          Desfazer
        <% end %>
      <% end %>
    </small>
  </div>
  <div class="col-auto text-end">
    <p class="fs-2">
      <%= number_to_currency(item.value) %>
    </p>
    <small>
      <%= link_to 'Detalhar', item %> &bull;
      <%= link_to 'Editar', edit_entry_path(item) %> &bull;
      <%= link_to 'Excluir',
          item,
          class: "text-danger",
          data: {
            turbo_confirm: t("exclusion.confim"),
            turbo_method: :delete
          } %>
    </small>
  </div>
</div>
