<%= simple_form_for @entry, data: {controller: "mask"} do |f| %>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-5 mb-3" data-controller="calendar">
          <%= f.label :date, class: "form-label" %>
          <div id="calendar-container" data-calendar-target="container"></div>
          <%= f.input :date, label: false, as: :hidden, input_html: {data: {"calendar-target" => "input"}} %>
        </div>
        <div class="col-md-7">
          <%= f.input :description %>
          <%= f.input :value, as: :string, input_html: {class: "fs-1", data: { mask_target: "currency" }} %>
          <%= label_tag nil, "Situação", class: "form-label" %>
          <div class="d-flex align-items mb-3">
            <%= f.label :status, "Pendente", class: "form-check-label me-2" %>
            <div class="form-check form-switch">
              <%= f.check_box :status, {class: "form-check-input", role: "switch"}, "paid", "pending" %>
              <%= f.label :status, "Pago", class: "form-check-label" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <%= f.association :category,
          collection: @categories,
          value_method: :id,
          label_method: :name,
          prompt: "Selecione a categoria",
          required: true %>
        </div>
        <div class="col-12">
          <%= f.input :comment, input_html: { rows: 5 } %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <%= turbo_frame_tag "entries_billing", class: "billing-box" do %>
        <% if @billing.nil? %>
          <%= render 'entries/billings/question' %>
        <% else %>
          <%= render 'entries/billings/fields' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancelar', entries_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
