<%= simple_form_for @entry, data: {controller: "mask"} do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :operation,
        collection: [%w[income Recebimento], %w[outgoing Despesa]],
        value_method: :first,
        label_method: :last,
        prompt: "Selecione o tipo de operação",
        disabled: f.object.persisted? %>
    </div>
    <div class="col-8">
      <%= f.input :title %>
    </div>
    <div class="col-md-3">
      <%= f.association :category,
        collection: @categories,
        value_method: :id,
        label_method: :name,
        prompt: "Selecione a categoria",
        required: true %>
    </div>
    <div class="col-md-3">
      <%= f.input :date, as: :string, input_html: { type: 'date' } %>
    </div>
    <div class="col-md-3">
      <%= f.input :value, as: :string, input_html: {data: { mask_target: "currency" }} %>
    </div>
    <div class="col-md-2">
      <%= label_tag nil, "Situação", class: "form-label" %>
      <div class="d-flex align-items">
        <%= f.label :status, "Pendente", class: "form-check-label me-2" %>
        <div class="form-check form-switch">
          <%= f.check_box :status, class: "form-check-input", role: "switch" %>
          <%= f.label :status, "Pago", class: "form-check-label" %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= f.input :comment, input_html: { rows: 5 } %>
    </div>
    <div class="colmd-12">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancelar', entries_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
