<h1>Lançamentos</h1>
<%= link_to 'Novo lançamento', new_entry_path %>

<div class="my-5">
  <% unless @pendings_count.zero? %>
    <%= notification type: "danger" do %>
      <div class="row">
        <div class="col-md">
          <i class="bi bi-exclamation-triangle"></i>&nbsp;
          <span>
            Você tem <%= pluralize(@pendings_count, 'lançamento atrasado', 'lançamentos atrasados') %>.
          </span>
        </div>
        <div class="col-md-auto">
          <%= link_to pending_entries_path do %>
            Ver todos&nbsp;&raquo;
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="my-3 p-3 rounded bg-light">
  <div class="hstack gap-3 justify-content-center">
    <%= collection_link_to_month_entries(params.dig(:entry, :date)) %>
  </div>
</div>

<% if @entries.empty? %>
  <%= notification type: "primary" do %>
    <i class="bi bi-exclamation-triangle"></i>&nbsp;
    <span>Nenhum lançamento encontrado.</span>
  <% end %>
<% end %>

<% unless @entries.empty? %>
  <%= render 'totals_summary', totals: @totals, date: @form.date %>
  <%= render 'entries/entries_list', entries: @entries %>
<% end %>
