<h1>Lançamentos</h1>
<%= link_to 'Novo lançamento', new_entry_path %>

<div class="my-5">
  <% unless @pendings_count.zero? %>
    <%= notification type: "danger" do %>
      <div class="row">
        <div class="col-md">
          <i class="bi bi-exclamation-triangle"></i>&nbsp;
          <span>
            Você tem <%= pluralize(@pendings_count, 'lançamento atrasado', 'lançamentos atrasados') %>.
          </span>
        </div>
        <div class="col-md-auto">
          <%= link_to pending_entries_path do %>
            Ver todos&nbsp;&raquo;
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="my-3 p-3 rounded bg-light overflow-x-auto">
  <div class="hstack gap-3">
    <%= collection_link_to_month_entries(@form.date) %>
  </div>
</div>

<div class="py-3">
  <%= render 'totals_summary', totals: @totals, date: @form.date %>
</div>

<div class="py-3">
  <%= render 'entries/entries_list', entries: @entries %>
</div>
