<div class="row align-items-end">
  <div class="col-md-6">
    <h1>Lançamentos</h1>
    <%= link_to 'Novo lançamento', new_entry_path %>
  </div>
  <div class="col-md-6">
    <% unless @pendings_count.zero? %>
      <%= notification type: "danger" do %>
        <i class="bi bi-exclamation-triangle"></i>&nbsp;
        <span>
          Você tem <%= pluralize(@pendings_count, 'lançamento atrasado', 'lançamentos atrasados') %>.
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="my-3 p-3 rounded bg-light">
  <div class="row align-items-end">
    <div class="col">
      <%= link_to_prev_month_entries(@form.date) %>
    </div>
    <div class="col text-center">
      <%= form_with model: @form, url: entries_path, method: :get,
      scope: :entry, data: {controller: "submit"} do |f| %>
        <%= f.label :date, "Selecione o período", class: "form-label" %>
        <div class="d-flex">
          <%= f.date_select :date,
          {order: [:month, :year], end_year: Date.today.year.next},
          {class: "form-select"} %>
        </div>
      <% end %>
    </div>
    <div class="col text-end">
      <%= link_to_next_month_entries(@form.date) %>
    </div>
  </div>
</div>

<% if @entries.empty? %>
  <%= notification type: "primary" do %>
    <i class="bi bi-exclamation-triangle"></i>&nbsp;
    <span>Nenhum lançamento encontrado.</span>
  <% end %>
<% end %>

<% unless @entries.empty? %>
  <%= render 'totals_summary', totals: @totals, date: @form.date %>
  <%= render 'entries_list' %>
<% end %>
