<%= content_for :page_title do %>
  Lançamento
<% end %>

<%= content_for :page_actions do %>
  <div class="d-flex">
    <%= link_to '&laquo; Voltar para lançamentos'.html_safe, entries_path %>
    <span class="ms-auto">
      <%= link_to 'Novo lançamento', new_entry_path %> &bull;
      <%= link_to 'Editar lançamento', edit_entry_path(@entry) %> &bull;
      <%= link_to 'Excluir lançamento', @entry,
        class: "text-danger",
        data: {
          turbo_method: :delete,
          turbo_confirm: t("exclusion.confirm") } %>
    </span>
  </div>
<% end %>

<h2>
  <%= @entry.category&.name || "Não categorizado" %> |
  <small class="text-body-secondary"><%= @entry.description %></small>
</h2>

<div class="row my-3">
  <div class="col-sm-12 col-md-6">
    <p class="fs-3">
      <%= "#{number_to_currency(@entry.value)} em #{l(@entry.date, format: :long)}" %>
    </p>

    <p class="lead">
      <%= @entry.comment.present? ? @entry.comment : "Nenhum comentário adicionado." %>
    </p>

    <strong>Incluído em</strong>
    <p class="lead">
      <%= l(@entry.created_at, format: :long) %>
    </p>

    <strong>Última alteração em</strong>
    <p class="lead">
      <%= l(@entry.updated_at, format: :long) %>
    </p>

  </div>
  <div class="col-md-6">
    <% @entry.billing.try do |billing| %>
      <h3>
        Recorrência |
        <%= billing.description %>
      </h3>
      <%= render billing %>
      <p>
        <%= link_to 'Ver recorrência', billing %>
      </p>
    <% end %>
  </div>
</div>