<h1>
  Lançamento /
  <small class="text-body-secondary">
    <%= @entry.description %>
  </small>
</h1>

<div class="my-3">
  <div class="d-flex">
    <%= link_to '&laquo; Voltar para lançamentos'.html_safe, entries_path %>

    <span class="ms-auto">
      <%= link_to 'Novo lançamento', new_entry_path %> &bull;
      <%= link_to 'Editar lançamento', edit_entry_path(@entry) %> &bull;
      <%= link_to 'Excluir lançamento', @entry,
        class: "text-danger",
        data: {
          turbo_method: :delete,
          turbo_confirm: t("exclusion.confirm") } %>
    </span>
  </div>
</div>

<div class="row my-3">
  <div class="col-sm-12 col-md-6">
    <strong>Valor</strong>
    <p class="lead">
      <%= number_to_currency(@entry.value) %>
    </p>

    <strong>Categoria</strong>
    <p class="lead">
      <%= @entry.category.name %>
    </p>

    <strong>Data</strong>
    <p class="lead">
      <%= l(@entry.date, format: :long) %>
    </p>

    <strong>Incluído em</strong>
    <p class="lead">
      <%= l(@entry.created_at, format: :long) %>
    </p>

    <strong>Última alteração em</strong>
    <p class="lead">
      <%= l(@entry.updated_at, format: :long) %>
    </p>

    <strong>Comentário</strong>
    <p class="lead">
      <%= @entry.comment.present? ? @entry.comment : "Nenhum comentário adicionado." %>
    </p>
  </div>
</div>
