<h1>Lançamento</h1>

<div class="my-3">
  <div class="d-flex">
    <%= link_to '&laquo; Voltar para lançamentos'.html_safe, entries_path %>
    <span class="ms-auto">
      <%= link_to 'Novo lançamento', new_entry_path %> &bull;
      <%= link_to 'Editar lançamento', edit_entry_path(@entry) %> &bull;
      <%= link_to 'Excluir lançamento', @entry,
        class: "text-danger",
        data: {
          turbo_method: :delete,
          turbo_confirm: t("exclusion.confirm") } %>
    </span>
  </div>
</div>

<div class="p-4 bg-dark rounded">
  <div class="row my-3">
    <div class="col-sm-12 col-md-6">
      <h2 class="mb-4"><%= @entry.description %></h2>

      <strong>Valor</strong>
      <p class="lead">
        <%= number_to_currency(@entry.value) %>
      </p>

      <strong>Categoria</strong>
      <p class="lead">
        <%= @entry.category&.name || "Não categorizado" %>
      </p>

      <strong>Data</strong>
      <p class="lead">
        <%= l(@entry.date, format: :long) %>
      </p>

      <strong>Incluído em</strong>
      <p class="lead">
        <%= l(@entry.created_at, format: :long) %>
      </p>

      <strong>Última alteração em</strong>
      <p class="lead">
        <%= l(@entry.updated_at, format: :long) %>
      </p>

      <strong>Comentário</strong>
      <p class="lead">
        <%= @entry.comment.present? ? @entry.comment : "Nenhum comentário adicionado." %>
      </p>
    </div>
    <div class="col-md-6">
      <% @entry.billing.try do |billing| %>
        <h2 class="mb-4">Recorrência</h2>

        <p>
          <%= link_to 'Ver recorrência', "path" %>
        </p>

        <strong>Descrição</strong>
        <p class="lead">
          <%= billing.description %>
        </p>

        <strong>Dia de vencimento</strong>
        <p class="lead">
          <%= billing.due_date %>
        </p>

        <strong>Ciclos</strong>
        <p class="lead">
          <% if billing.cycles == 1 %>
            <%= t("undefined") %>
          <% else %>
            <%= billing.cycles %>
            &nbsp;
            (Restam <%= billing.cycles - billing.entries_count %>)
          <% end %>
        </p>

        <% billing.first_entry.try do |first_entry| %>
          <strong>Primeiro lançamento</strong>
          <p class="lead">
            <%= l(first_entry.date, format: :long) %>
            &bull;
            <%= number_to_currency(first_entry.value) %>
            &bull;
            <%= t(first_entry.status, scope: "status") %>
          </p>
        <% end %>

        <% if billing.entries_count > 1 %>
          <% billing.last_entry.try do |last_entry| %>
            <strong>Último lançamento</strong>
            <p class="lead">
              <%= l(last_entry.date, format: :long) %>
              &bull;
              <%= number_to_currency(last_entry.value) %>
              &bull;
              <%= t(last_entry.status, scope: "status") %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>