<div class="container">
  <div class="row align-items-center pt-5 mt-5">
    <div class="col-md-8 text-center">
      <%= image_tag 'logo-no-background',
        class: "img-fluid",
        width: "50%",
        alt: "PayPay logo" %>
    </div>
    <div class="col-md-4">
      <h2>Reiniciar minha senha</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
        <div class="form-inputs">
          <%= f.input :password,
                label: "Nova senha",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                label: "Confirme sua nova senha",
                required: true,
                input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="d-grid">
          <%= f.button :submit, "Change my password", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
