<div class="row">
  <div class="col-md-6">
    <strong>Situação</strong>
    <p class="lead">
      <%= t(billing.status, scope: "status") %>
    </p>
  </div>
  <div class="col-md-6">
    <strong>Criada em</strong>
    <p class="lead">
      <%= l(billing.created_at, format: :long) %>
    </p>
  </div>
  <div class="col-md-6">
    <strong>Dia de vencimento</strong>
    <p class="lead">
      <%= billing.due_date %>
    </p>
  </div>
  <div class="col-md-6">
    <strong>Ciclos</strong>
    <p class="lead">
      <% if billing.cycles == 1 %>
        <%= t("undefined") %>
      <% else %>
        <%= billing.cycles %>
        (Restam <%= billing.cycles - billing.entries_count %>)
      <% end %>
    </p>
  </div>
  <% billing.first_entry.try do |first_entry| %>
    <div class="col-md-6">
      <strong>Primeiro lançamento</strong>
      <p class="lead">
        <%= l(first_entry.date, format: :long) %><br/>
        <%= number_to_currency(first_entry.value) %>
        &bull;
        <%= t(first_entry.status, scope: "status") %>
      </p>
    </div>
  <% end %>
  <% if billing.entries_count > 1 %>
    <% billing.last_entry.try do |last_entry| %>
      <div class="col-md-6">
        <strong>Último lançamento</strong>
        <p class="lead">
          <%= l(last_entry.date, format: :long) %><br/>
          <%= number_to_currency(last_entry.value) %>
          &bull;
          <%= t(last_entry.status, scope: "status") %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
