<nav class="navbar fixed-top navbar-expand-md mb-4 bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo-300.png', width: "160", height: "auto" %>
    </a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0 align-items-center">
        <li class="nav-item">
          <%= link_to 'Início', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lançamentos', entries_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categorias', categories_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-small btn-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <%= user_avatar(current_user) %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= link_to 'Meu cadastro', user_account_path, class: "dropdown-item" %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to 'Logout',
                destroy_user_session_path,
                class: "dropdown-item text-danger",
                data: {
                  turbo_confirm: t("logout.confirm"),
                  turbo_method: "delete" } %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
