<!DOCTYPE html>
<html>
  <head>
    <title>Paypay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield(:head) if content_for?(:head) %>
  </head>

  <body id="">
    <main class="pb-5" style="min-height:75vh;">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer class="container border-top pt-5">
      <p class="float-end"><a href onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;">Back to top</a></p>
      <p>&copy; <%= Time.now.year %> PayPay, Inc. &bull; <a href="#">Privacy</a> &bull; <a href="#">Terms</a></p>
    </footer>
  </body>
</html>
