<!DOCTYPE html lang="pt">
<html>
  <head>
    <title>xpensis - <%= content_for?(:page_title) ? yield(:page_title) : "Controle de Despesas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="xpensis é uma plataforma online para acompanhamento de despesas pessoais completo, intuitivo e fácil de usar."/>
    <meta name="author" content="xpensis.xyz"/>
    <meta name="keywords" content="Expense tracker, Controle de Despesas, Gerenciamento de Despesas, Finanças Pessoais"/>
    <meta property="og:site_name" content="xpensis - Controle de Despesas"/>
    <meta property="og:title" content="xpensis - Plataforma online para acompanhamento de despesas pessoais completo, intuitivo e fácil de usar."/>
    <meta property="og:description" content="xpensis é uma plataforma online para acompanhamento de despesas pessoais completo, intuitivo e fácil de usar."/>
    <meta property="og:image" content="<%= asset_url('logo-300.png') %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://xpensis.xyz"/>
    <link rel="canonical" href="https://xpensis.xyz"/>
    <%= favicon_link_tag "xpensis-favicon-color.png", type: 'image/png' %>
    <%= favicon_link_tag "xpensis-favicon-color.png", type: 'image/png', rel: "apple-touch-icon" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield(:head) %>
  </head>

  <body id="<%= "#{controller_name}-#{action_name}" %>">
    <main class="pb-5" style="min-height:100vh;">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p>
          <%= link_to root_path do %>
            <%= image_tag 'logo-300.png', width: "160", height: "auto" %>
          <% end %>
        </p>
        <p class="float-end"><a href onclick="document.body.scrollTop=0;document.documentElement.scrollTop=0;">Back to top</a></p>
        <p>
          &copy; <%= Time.now.year %> xpensis.xyz &bull;
          <%= link_to 'Privacidade', privacy_path %>
          &bull;
          <%= link_to 'Termos de uso', terms_path %>
        </p>
      </div>
    </footer>
  </body>
</html>
