<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= hidden_field_tag :what, "password" %>
  <div class="row g-3">
    <div class="col-12">
      <%= f.input :password, autofocus: true, required: true, label: "Nova senha" %>
      <%= f.input :password_confirmation, required: true %>

      <%= f.input :current_password,
          required: true,
          hint: "Informe sua senha atual para confirmar as alterações.",
          input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="col-12">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancelar', user_account_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
